
/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #d57b16;
  --vp-c-brand-2: #8bb63a;
  --vp-c-brand-3: #8bb63a;
}
/*
.v-theme--dark {
  background-color: transparent !important;
}*/

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-pagination__list {
  list-style: none !important;
  padding-left: 0 !important;
}
.no-transition .stepper__content {
  transition: none !important;
}